/* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
        height: 100%;
        font-family: 'Source Sans Pro', sans-serif;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

      #wrap > .container {
        padding-top: 60px;
      }
      .container .credit {
        margin: 20px 0;
      }

      code {
        font-size: 80%;
      }

      .list {
        float: left;
        margin-right: 50px;
      }

      .list a {
        font-size: 2.0em;
        padding-right: 26px;
      }

      .list li{
        list-style-type: none;
        margin: 10px 0px;
      }      